<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Quiz App{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    </head>
    <body>
        <!-- Nav Bar | url for 'home' builds the URK for your home() route in app.py -->
         <nav class="nav">
            <a href="{{ url_for('home') }}" class="nav__logo">🧠 QuizApp</a>
            <a href="{{ url_for('start') }}" class="nav__btn">New Quiz</a>
         </nav>

    <!-- Page content | Every child page fills block with own html -->
     <main class="main">
        {% block content %}
        {% endblock %}
     </main>

     <!-- Footer -->
      <footer class="footer">
        <p>Built with Flask &amp; Python</p>
      </footer>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>